

*{
  box-sizing: border-box ;
  margin:0px;
}

.row{
  margin-top:3px;
  margin-left:3px;
  margin-right:3px;
  border:2px;
  width:100%
  
}
body{
  font-family:verdana,sans-serif;
  margin: 3px;
  
  
}
.heading {
 text-align: center;
 margin:right 10px;

 padding:10px;
 clear:bottom;
 font-size: 38px;
 
 

}

.chicken{
  background-color: grey;
  float: right;
  margin:10px 10px 10px 10px;
  clear:right;
  width:280px;
  height:200px;
  float:left;
  border-style: solid;
  
 
  
}
#Chiken{
  background-color:#d49898;
  height: 24px;
  width:100px;
  float:right;
  text-align:center;
  padding-top:0px;
  padding-left:5px;
  padding-right:5px;
  font-style:none;
  font-style: bold;
  font-size: 20px;
  float:top;
  font-weight:bold;
  float: right;
  
  border-left:solid black;
  border-top: 0px;
  border-bottom:2px black solid;
 /* border-bottom-left-radius: 50%;*/
  
}
#Beef{
  background-color:#c14543;
  color:white;
  height: 24px;
  width: 100px;
  float: right;
  text-align: center;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  font-style: none;
  font-style: bold;
  font-size: 20px;
  float:top;
  font-weight:bold;
  border-left:solid black;
  border-top: 0px;
  border-bottom:2px black solid;
 /* border-bottom-left-radius*/
}
  
  
.beef{
  background-color: grey;
  float: right;
  margin:10px 10px 10px 10px;
  clear:right;
  width:280px;
  height:200px;
  float:left;
  border-style: solid;
  
  
}

#Suchi{
  background-color:#E5D097;
  height: 24px;
  width: 100px;
  float: right;
  text-align: center;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  font-style: none;
  font-style: bold;
  font-size: 20px;
  float: top;
  font-weight: bold;
  border-left:solid black;
  border-top: 0px;
  border-bottom:2px black solid;
  /*border-bottom-left-radius: %*/
}
  
  
.suchi{
  background-color: grey;
  float: right;
  margin:10px 10px 10px 10px;
  clear:right;
  width:280px;
  height:200px;
  float:left;
  border-style: solid;
  
  
}

.sec1{
  border: 2px black;
  color: black;
}

